.application-container {
  padding-bottom: 100px;
}

.application-container img {
  width: 300px;
}

/* .application-label {
  font-size: 48px;
  padding: 80px 0 60px 0;
} */

.application-grid {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-gap: 30px;
  margin: 0 20px;
}

.application-grid-block {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 50px;
  margin-top: 100px;
}

.application-grid-block-label {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  letter-spacing: 1px;
}

.application-grid-block-description {
  color: gray;
  font-size: 14px;
  text-align: center;
  font-weight: 100px;
  line-height: 20px;
}

.application-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.application-icon {
  font-size: 35px;
  color: #ffcf29;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .application-container {
    padding-bottom: 50px;
  }
  .application-container img {
    width: 200px;
  }
  .application-grid {
    grid-template-columns: 1fr 200px 1fr;
    grid-gap: 20px;
    margin: 0 10px;
  }
  .application-grid-block {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 25px;
    margin-top: 50px;
  }
}
