.reason-container {
  margin-top: 260px; 
}

.reason-text-label {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  padding: 35px 50px;
  letter-spacing: 2px;
}

.reason-container-reasons {
  display: grid;
}

.reason-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 70px;
  padding: 20px;
}

.reason-block {
  padding: 5px;
}

.reason-text-grid-label {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  padding: 18px;
}

.reason-text-description {
  text-align: center;
  color: gray;
  letter-spacing: 0.3px;
}

.reason-style-center {
  text-align: center;
}

.reason-icon {
  font-size: 52px;
  color: #ffcf29;
  text-align: center;
}