.requirements-container {
  display: flex;
  
  padding: 100px 0;
}

.requirements-label {
  font-size: 48px;
  text-align: left;
  padding: 100px 80px 0px 80px;
}

.requirements-list-block {
  color: #707070;
  padding: 50px;
}

.requirements-list-check-icon {
  color: #ffc61a;
  padding: 0 10px 0 10px;
}

.requirements-list-block ul li {
  font-size: 16px;
  font-weight: 600;
  list-style: none;
  padding: 5px;
}

.requirements-button {
  margin-top: 50px 0 0 50px;
  padding: 20px 42px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  border-radius: 30px;
  background-color: #ffdb4d;
  cursor: pointer;
}

.requirements-container img {
  height: 100%;
  width: auto;
  max-width: none;
  margin-left: 400px;
}