.submit-button {
  width: 230px;
  height: 44px;
  font-weight: 600;
  border-radius: 22px;
  background-color: #ffff46;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.button:hover {
  background-color: #ffff00;
}

.requirements-button {
  padding: 20px 42px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  border-radius: 30px;
  background-color: #ffdb4d;
  cursor: pointer;
}

.center {
  text-align: center;
}