.rates-container {
  border-bottom: 1px white solid;
  color: #707070;
  background-color: #f5f5f5;
}

.rates-text-label {
  font-size: 48px;
  text-align: center;
}

.rates-grid {
  display: flex;
  justify-content: space-between;
  grid-gap: 30px;
  padding: 60px 10%;
}

.rates-table-label {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 18px 0;
  width: 460px;
}

.rates-container td {
  font-size: 15px;
  padding: 15px 0 15px 10px;
}

.rates-container tr:nth-child(even) {
  background-color: #dcdcdc7c;
}

.rates-container table {
  width: 460px;
  margin-bottom: 20px;
}

.rates-container table,
td,
th {
  border-collapse: collapse;
}

td:first-child {
  max-width: 110px;
  padding-right: 80px;
  height: 100%;
}

.rates-container-table tbody {
  height: 100%;
  border: 0.01em solid #70707041;
}

@media (max-width: 989px) {
  .rates-grid {
    flex-direction: column;
  }
  .rates-table-label {
    width: 100%;
  }
  .rates-container table {
    width: 100%;
  }
  td:first-child {
    padding-right: 50px;
  }
}

@media (max-width: 500px) {
  td:first-child {
    padding-right: 35px;
  }
}
