.content-container {
  font-size: 20px;
  color: white;
  /* height: 2000px; */
  
}

.content-submit-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* input text style */
.content-submit-form > input[type=text] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 0 5px 0 5px;
  width: 400px;
}

.content-submit-form input[type=text]::placeholder {
  color: rgb(168, 168, 168);
  font-size: 0.80em;
  padding-left: 7px;
}

.content-text {
  /* font-stretch: ultra-expanded; */
  letter-spacing: 2px;
  font-size: 50px;
  margin: 13% 20% 0 20%;
  /* width: 75%; */
  text-align: center;
}

.content-text-calling {
  text-align: center;
}

.content-button-center {
  text-align: center;
}

.content-text-number {
  font-size: 36px;
  color: rgb(255, 255, 70);
  text-align: center;
  animation: redNumber;
  font-weight: 600;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* text-decoration-line: none; */
}

.content-text-number:hover {
  color: #e61400;
  animation-name: redNumber;
  animation-duration: 1s;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited{
  color:black;
}
.content-button-submit {
  font-weight: 500;
  background: rgb(255, 255, 70);
  border: none;
  width: 200px;
  height: 44px;
  border-radius: 22px;
  cursor: pointer;
}

.content-img-car {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}