.logo {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin-left: 40px;
}

.logo-y {
  color: red;
}

.logo-yandex{
  color: white;
  font-weight: 700;
}

.logo-taxi {
  color: white;
}