.header-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 85px;
  font-size: 13px;
  border-bottom: 0.05em solid rgba(128, 128, 128, 0.8);
  transition: all 0.3s ease-out;
}

.header-container-scrolled {
  position: fixed;
  display: flex;
  height: 70px; 
  width: 100%;
  font-size: 13px;
  background-color: black;
  transition: all 0.3s ease-out;
  z-index: 3;
}

.header-logo {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin-left: 40px;
}

.header-logo-y {
  color: red;
}

.header-logo-yandex{
  color: white;
  font-weight: 700;
}

.header-logo-taxi {
  color: white;
}

.header-container li  {
  display: inline;
  margin: 15px 15px 15px 15px;
}

.li-scrolled {
  display: inline;
  margin: 15px 15px 15px 15px;
}

.ul-t {
  position: absolute;
  right: 170px;
  height: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-scrolled {
  position: absolute;
  right: 170px;
  height: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container a:visited {
  color: white;
}


a:visited {
  color: white;
}

a:link {
  text-decoration: none;
}

.header-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-scrolled {
  padding-left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}