.header-container {
  height: 85px;

  position: fixed;
 /* right: 50px; */
  display: flex;
  border-bottom: 0.05em solid rgba(128, 128, 128, 0.8);
  font-size: 13px;
  width: 100%;
  transition: all 0.3s ease-out;
}

.header-container-scrolled {
  height: 70px; 
  background-color: black;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;

  font-size: 13px;
  width: 100%;
  transition: all 0.3s ease-out;
  z-index: 3;
}
/* ***************************************************** */


/* logotype */
.header-logo {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin-left: 40px;
}

.header-logo-y {
  color: red;
}

.header-logo-yandex{
  color: white;
  font-weight: 700;
}

.header-logo-taxi {
  color: white;
}
/* ****************************************************** */

.header-container li  {
  display: inline;
  margin: 15px 15px 15px 15px;
}

.li-scrolled {
  display: inline;
  margin: 15px 15px 15px 15px;
}

/* ****************************************************** */

ul {
  /* position: relative; */
  position: absolute;
  right: 50px;
  height: 100%;
  

}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.header-nav {
  /* padding-left: 300px;
   */
   /* position: absolute; */
   /* right: 50px; */
}

.header-container a:visited {
  color: white;
}


/* links */
a:visited {
  color: white;
}

a:link {
  text-decoration: none;
}

/* ****************************************************** */


/* center navigation */
.header-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-scrolled {
  padding-left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ****************************************************** */